@font-face {
  font-family: 'CalSans-SemiBold';
  src: url('../font/CalSans-SemiBold.woff2') format('woff2'),
  url('../font/CalSans-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  //color: rgba(18, 18, 18, 0.4);
  color: #121212;
}
h1{
  font-family: 'CalSans-SemiBold';
  font-size: 56px;
  line-height: 67px;
  margin-bottom: 20px;

}
h2{
  font-family: 'CalSans-SemiBold';
  font-size: 44px;
  font-weight: 600;
  line-height: 53px;

}
h3{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  color: #121212;

}
a{
  color: rgba(18, 18, 18, 0.4);
  text-decoration: none;
}
//<-------------------------------------------->
.navbar-brand{
  font-family: 'CalSans-SemiBold';
  font-size: 24px;
  line-height: 29px;
  .logo-text{
    margin: 0 10px;
  }
}
.navbar{
  margin-bottom: 140px;
}
.container-fluid{
  padding-left: 0;
}
.navbar-nav{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.color-or{
  color: #FF6428!important;
}
.btn-bg{
  background-color: #FF6428;
}
//<-------------------------------------------->
.store {
  p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
      }
  .price{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
  }
}
//<-------------------------------------------->
.why{
  background-color: #121212;
  h2{
    color: #fff;
  }
  .why-link{
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background-color: #262626;
    font-size: 0;
    text-align: center;
    margin: 0 auto 40px;

    &:before{
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    .why-icons1,
    .why-icons2,
    .why-icons3{
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
    .why-icons1{
      background: url(../img/why/icons-01.png) 0 0 no-repeat;
    }
    .why-icons2{
      background: url(../img/why/icons-02.png) 0 0 no-repeat;
    }
    .why-icons3{
      background: url(../img/why/icons-03.png) 0 0 no-repeat;
    }
  }
  h3{
    color: #fff;
    margin-bottom: 12px;
  }
  span{
    color: #666;
  }
}
//<-------------------------------------------->
/* media queries */

@media(max-width: 1199px){
  .navbar{
    margin-bottom: 70px;
  }

}
@media(max-width: 991px){
  h1{
    font-size: 30px;
    line-height: 40px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 14px;
  }
}
  .navbar{
    margin-bottom: 30px;
  }
  .container-fluid{
    padding-right: 0;
  }
  .store {
    p{
      font-size: 12px;
    }

}
@media(max-width: 767px){
  .header{
    text-align: center;
  }
  .store{
    text-align: center;
  }
}